<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.css" integrity="sha512-+AdxWMqfOdtwMuXK482e5OgHYzN06s97n3NTAeAdTlUvlIgCBx3SUKvMculJIedylDfVCaQFdD6HaojI4aeBUA==" crossorigin="anonymous" />
<link href="https://fonts.googleapis.com/css2?family=Monoton&display=swap" rel="stylesheet"><link href="https://fonts.googleapis.com/css2?family=Staatliches&display=swap" rel="stylesheet">
    <title>theEntrepreneurshipBlog</title>
    <style>
     #brandLogo{
         padding: 0px;
         margin: 0px;
     }
     .nav{
      padding-top: 10px;
      padding-bottom: 0px;
      background: inherit;
      margin: 0px;
     }
     #navbarBrandText{
      font-family: 'Monoton', cursive;
      color: black;
      font-size: 1.75rem;
      letter-spacing: 0.25rem;
     }
     .nav-link{
      font-size: 1rem;
      float: right;
      color: 
     }
     .dropdown-item{
      font-size: 0.85rem;
     
     }
     #jumbotron{
      /*background-image: url(https://images.unsplash.com/photo-1541701494587-cb58502866ab?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80);*/
      background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url(https://images.unsplash.com/photo-1541701494587-cb58502866ab?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80);
      background-repeat: no-repeat;
   background-size: cover;margin: 0px;
   height: 600px;
   width: 100%;
     }
     .vertical-center {
  min-height: 50%;  /* Fallback for browsers do NOT support vh unit */
  min-height: 50vh; /* These two lines are counted as one :-)       */

  display: flex;
  align-items: center;
}
#jumbotronButton:hover{
  background-color: black;
  color: white;
}
.navbar{
  background-color: black;
  padding: 0px;
}
.dropdown-item{
      font-size: 0.5rem;
     color: white;
     }
.dropdown-menu{
      background: transparent;
}
.dropdown-item:hover{
      background: transparent;
      color: #a6a6a6;
}
.nav-link:hover{
   color: #a6a6a6;
}
.card-img-top{
  height: 600px;
  width: 100%;
}
#readme{
  float: right;
}
body{
background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url(https://images.unsplash.com/photo-1541701494587-cb58502866ab?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80);
      background-repeat: no-repeat;
   background-size: cover;}

</style>
  </head>
  <body>
    <nav class="navbar justify-content-center mb-5">
    <ul class="nav ">
  <li class="nav-item">
   <a class="nav-link" href="/blogs"><i class="arrow alternate circle left icon" style="font-size: 2rem;color: white;"></i><span class="sr-only">(current)</span></a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/about"><i class="user circle icon" style="font-size: 2rem;color: steelblue;"></i></a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#"><i class="github icon" style="font-size: 2rem;color: purple;"></i></a>
  </li>
  
  <li class="nav-item">
     <a class="nav-link " href="mailto:shauryasarswatpersonalAC@gmail.com"><i class="envelope icon" style="font-size: 2rem;color: red;"></i></a>
  </li>
  <li class="nav-item">
   <a class="nav-link " href="https://bossinthechair.blogspot.com/"><i class="blogger icon" style="font-size: 2rem;color: orange;"></i></a>
  </li>
  <li class="nav-item">
   <a class="nav-link " href="/book"><i class="book icon" style="font-size: 2rem;color: green;"></i></a>
  </li>
</ul>
</nav>