<%- include("partials/header") %>
<section>
  <div class="jumbotron jumbotron-fluid">
    <nav class="navbar navbar-expand-lg">
      <a class="navbar-brand" href="#">SHAURYA</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    
      <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
        <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
          
          <li class="nav-item">
            <a class="nav-link active" href="/">HOME</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/blogs">BLOG</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/about">ABOUT</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/media">MEDIA</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/contact">CONTACT</a>
          </li>
          
        </ul>
        
      </div>
    </nav>
    <div class="container-top">
      <h1 class="header animate__animated animate__backInLeft">Celebrating the online culture of posting</h1>
      <p class="header-lead animate__animated animate__backInRight">Bringing in the digital impact...</p>
    </div>
  
    
      <div class="container m-5 p-5 pb-0 mb-0">
        <div class="row">
          <div class="col-10">
            <p class="text-black animate__animated animate__bounceInUp">
              SHAURYA SARSWAT
              <br>
              Full-Stack Developer (MERN) | Competitive Programmer | Content Writer | Blogger
              <br>
              <ul class="navbar" id="lowerPart">
                <li class="nav-link"><a href=""><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-instagram" viewBox="0 0 16 16">
                  <path d="M8 0C5.829 0 5.556.01 4.703.048 3.85.088 3.269.222 2.76.42a3.917 3.917 0 0 0-1.417.923A3.927 3.927 0 0 0 .42 2.76C.222 3.268.087 3.85.048 4.7.01 5.555 0 5.827 0 8.001c0 2.172.01 2.444.048 3.297.04.852.174 1.433.372 1.942.205.526.478.972.923 1.417.444.445.89.719 1.416.923.51.198 1.09.333 1.942.372C5.555 15.99 5.827 16 8 16s2.444-.01 3.298-.048c.851-.04 1.434-.174 1.943-.372a3.916 3.916 0 0 0 1.416-.923c.445-.445.718-.891.923-1.417.197-.509.332-1.09.372-1.942C15.99 10.445 16 10.173 16 8s-.01-2.445-.048-3.299c-.04-.851-.175-1.433-.372-1.941a3.926 3.926 0 0 0-.923-1.417A3.911 3.911 0 0 0 13.24.42c-.51-.198-1.092-.333-1.943-.372C10.443.01 10.172 0 7.998 0h.003zm-.717 1.442h.718c2.136 0 2.389.007 3.232.046.78.035 1.204.166 1.486.275.373.145.64.319.92.599.28.28.453.546.598.92.11.281.24.705.275 1.485.039.843.047 1.096.047 3.231s-.008 2.389-.047 3.232c-.035.78-.166 1.203-.275 1.485a2.47 2.47 0 0 1-.599.919c-.28.28-.546.453-.92.598-.28.11-.704.24-1.485.276-.843.038-1.096.047-3.232.047s-2.39-.009-3.233-.047c-.78-.036-1.203-.166-1.485-.276a2.478 2.478 0 0 1-.92-.598 2.48 2.48 0 0 1-.6-.92c-.109-.281-.24-.705-.275-1.485-.038-.843-.046-1.096-.046-3.233 0-2.136.008-2.388.046-3.231.036-.78.166-1.204.276-1.486.145-.373.319-.64.599-.92.28-.28.546-.453.92-.598.282-.11.705-.24 1.485-.276.738-.034 1.024-.044 2.515-.045v.002zm4.988 1.328a.96.96 0 1 0 0 1.92.96.96 0 0 0 0-1.92zm-4.27 1.122a4.109 4.109 0 1 0 0 8.217 4.109 4.109 0 0 0 0-8.217zm0 1.441a2.667 2.667 0 1 1 0 5.334 2.667 2.667 0 0 1 0-5.334z"/>
                </svg></a></li>
                <li class="nav-link"><a href=""><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-meta" viewBox="0 0 16 16">
                  <path fill-rule="evenodd" d="M8.217 5.243C9.145 3.988 10.171 3 11.483 3 13.96 3 16 6.153 16.001 9.907c0 2.29-.986 3.725-2.757 3.725-1.543 0-2.395-.866-3.924-3.424l-.667-1.123-.118-.197a54.944 54.944 0 0 0-.53-.877l-1.178 2.08c-1.673 2.925-2.615 3.541-3.923 3.541C1.086 13.632 0 12.217 0 9.973 0 6.388 1.995 3 4.598 3c.319 0 .625.039.924.122.31.086.611.22.913.407.577.359 1.154.915 1.782 1.714Zm1.516 2.224c-.252-.41-.494-.787-.727-1.133L9 6.326c.845-1.305 1.543-1.954 2.372-1.954 1.723 0 3.102 2.537 3.102 5.653 0 1.188-.39 1.877-1.195 1.877-.773 0-1.142-.51-2.61-2.87l-.937-1.565ZM4.846 4.756c.725.1 1.385.634 2.34 2.001A212.13 212.13 0 0 0 5.551 9.3c-1.357 2.126-1.826 2.603-2.581 2.603-.777 0-1.24-.682-1.24-1.9 0-2.602 1.298-5.264 2.846-5.264.091 0 .181.006.27.018Z"/>
                </svg></a></li>
                <li class="nav-link"><a href=""><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-linkedin" viewBox="0 0 16 16">
                  <path d="M0 1.146C0 .513.526 0 1.175 0h13.65C15.474 0 16 .513 16 1.146v13.708c0 .633-.526 1.146-1.175 1.146H1.175C.526 16 0 15.487 0 14.854V1.146zm4.943 12.248V6.169H2.542v7.225h2.401zm-1.2-8.212c.837 0 1.358-.554 1.358-1.248-.015-.709-.52-1.248-1.342-1.248-.822 0-1.359.54-1.359 1.248 0 .694.521 1.248 1.327 1.248h.016zm4.908 8.212V9.359c0-.216.016-.432.08-.586.173-.431.568-.878 1.232-.878.869 0 1.216.662 1.216 1.634v3.865h2.401V9.25c0-2.22-1.184-3.252-2.764-3.252-1.274 0-1.845.7-2.165 1.193v.025h-.016a5.54 5.54 0 0 1 .016-.025V6.169h-2.4c.03.678 0 7.225 0 7.225h2.4z"/>
                </svg></a></li>
                <li class="nav-link"><a href=""><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-github" viewBox="0 0 16 16">
                  <path d="M8 0C3.58 0 0 3.58 0 8c0 3.54 2.29 6.53 5.47 7.59.4.07.55-.17.55-.38 0-.19-.01-.82-.01-1.49-2.01.37-2.53-.49-2.69-.94-.09-.23-.48-.94-.82-1.13-.28-.15-.68-.52-.01-.53.63-.01 1.08.58 1.23.82.72 1.21 1.87.87 2.33.66.07-.52.28-.87.51-1.07-1.78-.2-3.64-.89-3.64-3.95 0-.87.31-1.59.82-2.15-.08-.2-.36-1.02.08-2.12 0 0 .67-.21 2.2.82.64-.18 1.32-.27 2-.27.68 0 1.36.09 2 .27 1.53-1.04 2.2-.82 2.2-.82.44 1.1.16 1.92.08 2.12.51.56.82 1.27.82 2.15 0 3.07-1.87 3.75-3.65 3.95.29.25.54.73.54 1.48 0 1.07-.01 1.93-.01 2.2 0 .21.15.46.55.38A8.012 8.012 0 0 0 16 8c0-4.42-3.58-8-8-8z"/>
                </svg></a></li>
                
              </ul>
            </p>
          </div>
        </div>
      </div>
      
      <ul class="nav justify-content-center lowerCode">
        <li class="nav-item">
          <a class="nav-link" href="/blogs">BLOGS</a>
        </li><li class="nav-item">
          <a class="nav-link" href="/about">ABOUT</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/resume">RESUME</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/media">MEDIA</a>
        </li>
        
      </ul>
      <div id="line"><hr /></div>
      <div class="row inserting">
        <div class="col-4 jingle">
          <p class="display-inserting text-center animate__animated animate__bounce">
            Why Read ?
          </p>
        </div>
        <div class="col-8">
          <p>
            I am an amateur writer about various fields,and subfields and I try my best to put out all my experience in these micro-blogs to make you enjoy all the fun I had experiencing them.
          </p>
        </div>
      </div>
      <div class="row inserting">
        <div class="col-4 jingle">
          <p class="display-inserting text-center animate__animated animate__bounce">
            What do I write ?
          </p>
        </div>
        <div class="col-8">
          <p>
            Professionally i write mostly about the entrepreneurship and career development with a pinch of computer science and technology as well, though from some time i am trying to have hands onn over life experiences.
          </p>
        </div>
      </div>
      <div class="col-12">
        <div class="text-center">
          <center>
            <img src="https://images.unsplash.com/photo-1497091071254-cc9b2ba7c48a?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1174&q=80" class="training">
          </center>
       </div></div>
  <div class="text-center m-0 p-0 mt-5 pt-5 sectioned">
    <div class="container-fluid">
      <h1 class="display-header2">
        Featured Blogs
      </h1>
      <div class="row inserting">
        <div class="col-4 jingle">
          <p class="display-inserting text-center">
            Professional Ethics
          </p>
        </div>
        <div class="col-8">
          <p>
            Professional ethics are principles that govern the behaviour of a person or group in a business environment. Like values, professional ethics provide rules on how a person should act towards other people and institutions in such an environment.
          </p>
        </div>
      </div>
      <div id="line"><hr /></div>
      <div class="row row-cols-1 row-cols-md-2 mt-5">
        <div class="col mb-4">
          <div class="card"style="background: inherit;">
            <img src="https://images.unsplash.com/photo-1562813733-b31f71025d54?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1169&q=80" class="card-img-top" alt="...">
            <a href="http://localhost:3000/blogs/6184ed450fd1710ef0f6286e"><div class="card-body" style="background: inherit;">
              <h5 class="card-title text-dark"> Things that made me choose language for coding</h5>
              
            </div></a>
          </div>
        </div>
        <div class="col mb-4">
          <div class="card"style="background: inherit;">
            <img src="https://miro.medium.com/max/1250/1*b9FrwO9ZoOuUjJJCe0ziqQ.jpeg" class="card-img-top" alt="...">
            <a href="http://localhost:3000/blogs/61840fa7a9fe1b2920020e9d">
            <div class="card-body"style="background: inherit;">
              <h5 class="card-title text-dark">How I thought of a startup</h5>
              
            </div></a>
          </div>
        </div>
      </div>
             
    </div>
    
  </div>
  <div class="container-fluid jingle2">
    <div class="row inserting">
      <div class="col-4 jingle3">
        <p class="display-inserting text-center">
          Crazy Experiences
        </p>
      </div>
      <div class="col-8">
        <p>
          Experience refers to conscious events in general, more specifically to perceptions, or to the practical knowledge and familiarity that is produced by these conscious processes. Understood as a conscious event in the widest sense, experience involves a subject to which various items are presented.
        </p>
      </div>
    </div>
    <div id="line"><hr /></div>
  <div class="row row-cols-1 row-cols-md-2 mt-5">
    <div class="col mb-4">
      <div class="card"style="background: inherit;">
        <img src="https://images.unsplash.com/photo-1604090898152-3003bd1ae6df?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1170&q=80" class="card-img-top" alt="...">
        <a href="http://localhost:3000/blogs/6183bde3a8aa476340f1f701"><div class="card-body text-center"style="background: inherit;">
          <h5 class="card-title text-dark">Trying hacking for the first time</h5>
          
        </div></a>
      </div>
    </div>
    <div class="col mb-4">
      <div class="card"style="background: inherit;">
        <img src="https://images.unsplash.com/photo-1575411602736-5e9f24e277d0?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=2070&q=80" class="card-img-top" alt="...">
        <a href="http://localhost:3000/blogs/6183c44a15453e08e4047158">
        <div class="card-body text-center"style="background: inherit;">
          <h5 class="card-title text-dark">How i learnt shooting</h5>
          
        </div></a>
      </div>
    </div>
  </div>
         
</div>

</div>

  </div>
</div>
      </div>
     
      
</section>
  


<%- include("partials/footer") %>