<%- include ("partials/header4") %>
<div class="navbar-nav fixed-top m-5">
    <a href="/blogs" class="text-light nav-link"> <- Go Back </a>
  </div>
<a href="https://github.com/ShauryaSarswat/Project/tree/master/public" class="nav-link" style="font-size: 18rem;">MEDIA LIBRARY</a>

<%- include ("partials/footer") %>