<%- include("partials/header2") %>
<div class="ui main text container segment " style="background-color: black;color: white;border: 1px solid white;">
<div class="ui huge light header" style="color: white;"> Create New Posts </div>
<form class="ui form" action"/blogs" method="POST">
 <div class="field"><label>Title</label><input type="text" name="blog[title]" placeholder="title" required>
 <label>image URL:</label><input type="text" name="blog[image]" placeholder="image" required>
 <label>Blog Content</label><textarea name="blog[body]" required></textarea></div>
 <input type="submit" class="ui violet basic button"></div>
</div>
</div>
<%- include("partials/footer") %>