<%- include("partials/header") %>
<section>
    <div class="navbar-nav navbar-light m-2">
        <a href="/blogs" class="text-dark nav-link"> <- Go Back </a>
      </div>

    <img src="/Resume/ShauryaSarswat.png" class="resumeImg">
</section>

<%- include ("partials/footer") %>